
$darkBackground: #0a0a23;
$background: rgb(49, 49, 70);
$whiteColor: rgb(221, 222, 224);
$greyColor: rgb(118, 118, 132);
$contrastGrey: rgb(169, 170, 178);
$greyBorder: rgb(66, 66, 85);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  background-color: $background;
  color: $greyColor;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

body>header {
  background-color: $darkBackground;
  text-align: center;
  padding: .4em 1em .3em 1em;
}

main {
  max-width: 1110px;
  margin: auto;
  padding: 1em;
}

#curriculum {
  display: inline-block;
  position: absolute;
  font-size: 1.2em;
  color: $whiteColor;
  left: 2em;
  padding: .4em;
  &:hover {
    background-color: $whiteColor;
    color: $darkBackground;
  }
}
#fcc-logo {
  display: inline-block;
  border-radius: .4em;
  padding: .4em .6em .2em .6em;
  &:hover {
    background-color: rgba(118, 118, 132, .4);
  }
}

#active-users {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  padding: 0 2em;
  >.user-icon {
    transition: margin .6s;
    &:not(:nth-child(2)){
      margin-left: -.8em;
    }
  }
  &:hover {
    color: $contrastGrey;
    >.user-icon {
      margin-left: 0;
    }
  }
}
#users-count {
  font-size: 1.2em;
  margin-left: 1em;
  margin-right: .4em;
}

#forum-container {
  font-size: 1.2em;
}
.topic, #labels {
  padding: .6em;
  display: grid;
  align-items: center;
  grid-template-columns: 3em 1fr 8em 3em 3em 3em;
  gap: 1em;
  >* {
    text-align: center;
  }
  >*:nth-child(2), .participants {
    text-align: left;
  }
}
#labels {
  border-bottom: .2em solid $greyBorder;
  padding-bottom: .2em;
}
.topic {
  border-bottom: .1em solid $greyBorder; 
  >a {
    color: $whiteColor;
    &:hover {
      color: #08c; //hsl(170, 90, 76);
    }
  }
  &:hover {
    background-color: rgba(118, 118, 132, .2);
  }
}

@media (max-width: 1000px){
  .topic, #labels {
    grid-template-columns: 1em 1fr 6em 3em 3em 3em;
  }
}
@media (max-width: 900px){
  #forum-container {
    font-size: 1rem;
    min-width: 600px;
  }
}
@media (max-width: 700px){
  #active-users {
    font-size: .9rem;
  }
  #curriculum {
    position: static;
    font-size: 1em;
  }
  #fcc-logo {
    >img {
      width: 170px;
    }
  }
  body>header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .topic, #labels {
    gap: .6em;
  }
}